/* h1{
text-align: center;
}
.button{
  background-color: red;
  color: white;
  padding: 10px;
  border: 1px solid red;
  font-size: 15px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
} */
/* .button:hover{
  background-color: rgb(223, 222, 222);
  color: rgb(3, 3, 3);
  padding: 10px;
  border: 1px solid rgb(213, 213, 213);
  font-size: 15px;
  border-radius: 7px;
} */


/* .but{
 
  background-color: red;
  color: white;
  font-size: 15px;
  padding: 10px;
  border-radius: 7px;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.but:hover{
  background-color: rgb(223, 222, 222);
  color: rgb(3, 3, 3);
  padding: 10px;
  border: 1px solid rgb(213, 213, 213);
  font-size: 15px;
  border-radius: 7px;
} */
*{
  margin: 0%;
  padding: 0%;
}

.Counter{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.Counter button{
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 10px;
  background-color: blueviolet;
  color: aliceblue;
  border: none;

}
.Counter button:hover{
  padding: 15px;
  cursor: pointer;
  margin: 10px;
  margin-left: 20px;
  font-size: 15px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(1, 47, 87);
  
}
.counte{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 259px;
  margin-bottom: 259px;
  padding: 30px;
  background-color: rgb(231, 213, 188);
  width: 200px;
  margin-left: 600px;
  box-shadow: 2px 4px 3px 2px rgb(229, 171, 229);
}
.counte:hover{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 260px;
  margin-bottom: 260px;
  padding: 30px;
  background-color: rgb(138, 236, 198);
  width: 200px;
  margin-left: 600px;
}



/*  */
.contain{
  display: flex;
  flex-wrap: wrap;
  height: 88.7vh;
  min-height: 400px;
  align-items: center;
  padding: 40px;
  justify-content: center;
  background-color: rgb(177, 238, 218);
}
.minheight{
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.image img{
  height: 200px;
  min-height: 433px;
  width: 100%;
}
.content{
  width: 30%;
  height: 200px;
  min-height: 418px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  background-color: aliceblue;
  box-shadow: 2px 2px 6px wheat;
}
.content h2{
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
}
.content p{
  margin-bottom: 25px;
  opacity: 0.6;
  font-size: 14px;
}
.content span{
  margin-bottom: 10px;
  padding: 4px;
  border: 1px solid black;
  width:83% ;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(218, 215, 215);
  color: rgb(134, 134, 134);
}
.content span:hover{
  margin-bottom: 10px;
  padding: 4px;
  border: 1px solid black;
  width:83% ;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(66, 107, 208);
  color: rgb(134, 134, 134);
}
.content input{
  width: 80%;
  padding: 7px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid rgb(218, 215, 215);
}
.content input:hover{
  width: 80%;
  padding: 7px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid rgb(66, 107, 208);
}
.content button{
  width: 86%;
  padding: 7px;
  cursor: pointer;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(66, 107, 208);
  color: white;
}
.content button:hover{
  width: 86%;
  padding: 7px;
  cursor: pointer;
  margin-bottom: 15px;
  border: 1px solid rgb(13, 84, 178);
  border-radius: 5px;
  background-color: rgb(66, 107, 208);
  color: white;
}
.spanpara{
  color: rgb(134, 134, 134);
}

form p{
  opacity: 0.5;
}
.positionicon{
  position: relative;
}
.iconposition{
  position: absolute;
  left: 232px;
  top: 7px;
}

.click{
  text-align: center;
}

/* time */

.times{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(225, 239, 164);
}
span{
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 10px ;
  box-shadow: 2px 3px 2px 2px rgb(255, 255, 255),inset 2px 2px 2px 2px rgb(208, 179, 237);

}
@media screen and (min-width:320px) and (max-width:450px) {
  
  .contain{
    display: flex;
    flex-wrap: wrap;
    height:100%;
    min-height: 400px;
    align-items: center;
    padding: 40px;
    justify-content: center;
    background-color: rgb(177, 238, 218);
  }
  .content{
    width: 100%;
    padding-bottom: 30px;
    height: 200px;
    min-height: 398px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: aliceblue;
  }
  .content span{
    margin-bottom: 10px;
    padding: 4px;
    cursor: pointer;
    border: 1px solid black;
    width:100% ;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(218, 215, 215);
    color: rgb(134, 134, 134);
  }
  
  .content span:hover{
    margin-bottom: 10px;
    padding: 4px;
    cursor: pointer;
    border: 1px solid black;
    width:100% ;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(66, 107, 208);
    color: rgb(134, 134, 134);
  }
  .content input{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid rgb(218, 215, 215);
  }
  .content input:hover{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid rgb(66, 107, 208);
  }
  .content button{
    width: 100%;
    padding: 7px;
    cursor: pointer;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(66, 107, 208);
    color: white;
  }
  .content button:hover{
    width: 100%;
    padding: 7px;
    cursor: pointer;
    margin-bottom: 15px;
    border: 1px solid rgb(13, 84, 178);
    border-radius: 5px;
    background-color: rgb(66, 107, 208);
    color: white;
  }
  .image img{
    height: 200px;
    width: 100%;
    min-width: 300px;
    padding:0%
  }

  .times{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(234, 243, 196);
  }
  span{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px ;
    box-shadow: 2px 3px 2px 2px rgb(255, 255, 255),inset 2px 2px 2px 2px rgb(208, 179, 237);
  
  }
}